th {
    padding: 10px;
    color: white;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;

}

table {
    border-collapse: collapse;
    border: solid 2px aqua;
}

tbody {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: blue
}

td {
    padding: 20px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: blue;
    padding: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 50;
    margin: 20px;
    background-color: aquamarine;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0px 0px;
    justify-self: rigth;
    margin-bottom: 10px;
}

.Cadastrar {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    padding: 8px;
    color: black;
    background-color: blue;
    border-color: blue;
    border-radius: 4px;
    

}

#form_cadastro {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border: greenyellow 2px;

}
h1{
  color:white;  
}
input {
    width: auto;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    padding: 16px 24px;
    border-radius: px;
    margin-top: 20px;
}

#btSalvar {
    padding: 10px;
    color: white;
    background-color:  Lightblue;
    border-color:  Lightblue;
    border-radius: 4px;
}

#btCancelar {
    padding: 10px;
    color: white;
    background-color:  rgb(72, 138, 160);
    border-color:  rgb(9, 169, 223);
    
}